<?php $SITES = getcache('sitelist','commons'); ?>
<div class="clearfix"></div>
<div class="footer wrap">
<h3><a class="f00" href="index.php?m=mobile&a=page&catid=28"></a><a class="f01" href="index.php?m=mobile&a=lists&catid=21"></a></h3>
<p>版权所有 © {$SITES[$siteid][name]} {$SITES[$siteid][my_icp]}<br/>技术支持：<a href="http://www.028fast.com" target="_blank">凡思特科技</a><br>地址：{$SITES[$siteid][my_address]}</p>
<div style="height:87px"></div>
<dl class="footer-fix">
<a class="f1" href="index.php?m=mobile"></a><a class="f2" href="tel:{$SITES[$siteid][my_tel]}"></a><a class="f3" href="http://wpa.qq.com/msgrd?v=3&uin={$SITES[$siteid][my_qq01]}&site=qq&menu=yes"></a>
</dl>
</div>
</body>
<!-- ailianlove.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?15d8350ba7ebaf4fb1a67a5e08fe209e";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5c8ba89de821b6ae0cebc1a2de1ca08d' type='text/javascript'%3E%3C/script%3E"));
</script>
</html>