<?php $SITES = getcache('sitelist','commons'); ?>
<div class="clearfix"></div>
<div class="footer wrap">
<h3><a class="f00" href="index.php?m=mobile&a=page&catid=28"></a><a class="f01" href="index.php?m=mobile&a=lists&catid=21"></a></h3>
<p>版权所有 © {$SITES[$siteid][name]} {$SITES[$siteid][my_icp]}<br/>技术支持：<a href="http://www.ailianlove.com" target="_blank">幸福指南针</a><br>地址：{$SITES[$siteid][my_address]}</p>
<div style="height:87px"></div>
<dl class="footer-fix">
<a class="f1" href="index.php?m=mobile"></a><a class="f2" href="tel:{$SITES[$siteid][my_tel]}"></a><a class="f3" href="http://byt.zoosnet.net/LR/Chatpre.aspx?id=BYT80154713&lng=cn"></a>
</dl>
</div>
</body>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5c8ba89de821b6ae0cebc1a2de1ca08d' type='text/javascript'%3E%3C/script%3E"));

</script>

<script language=javascript>
var LiveAutoInvite0='您好，来自%IP%的朋友';
var LiveAutoInvite1='来自首页的对话';
var LiveAutoInvite2=' 幸福指南针解决您：<p style="color:#09F; font-size:12px;">婚姻挽回&nbsp;&nbsp;&nbsp;&nbsp;恋爱挽回</p><p style="color:#09F; font-size:12px;">小三分离&nbsp;&nbsp;&nbsp;&nbsp;婆媳关系</p><p style="color:#09F; font-size:12px;">亲自关系&nbsp;&nbsp;&nbsp;&nbsp;法律咨询</p><p style="color:#09F; font-size:12px;">心理辅导&nbsp;&nbsp;&nbsp;&nbsp;家庭维护</p><br><b>如果您有任何问题请接受此邀请以开始即时沟通</b>';
var LR_next_invite_seconds = 10; //10秒后再次显示自动邀请
var LrinviteTimeout = 10;   //10秒后第一次自动弹出 
</script>
<script language="javascript" src="http://byt.zoosnet.net/JS/LsJS.aspx?siteid=BYT80154713&float=1&lng=cn"></script>

</html>
