<!--
作者:成都凡思特网络科技有限公司技术部 Url:www.028fast.com Tel:4000-903-923
设计:QuJian
程序:JiangGle Url:jiangdesheng.com
-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="viewport" content="target-densitydpi=320,width=640,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-rim-auto-match" content="none">
<title>{$mobile['sitename']}</title>
<meta name="keywords" content="{$mobile['keywords']}">
<meta name="description" content="{$mobile['description']}">
<link rel="stylesheet" href="{siteurl($siteid)}/statics/mo/css/reset.css"/>
<link rel="stylesheet" href="{siteurl($siteid)}/statics/mo/css/style.css"/>
<!-- ailianlove.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?15d8350ba7ebaf4fb1a67a5e08fe209e";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?67d5804f9c5d08d00a55a24b6da69d56";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<div class="header wrap"></div>
