{template "mobile","header"}
<div class="wrap">
<div class="fast-links"><a class="l1" href="javascript:history.back(-1);"></a><a class="l2" href="index.php?m=mobile"></a></div>
<?php $this_url = str_replace("index.php?","index.php?m=mobile&c=index",list_pos($catid))?>
<?php $this_url = str_replace("http://m.","http://www.",$this_url)?>
<div class="now">{$this_url}正文</div>
<div class="content">
<dl class="info">
<dt>{$title}</dt>
<dd>{$inputtime}</dd>
</dl>
<div class="content_con">
{if $thumb}
<p align="center"><img src="{$thumb}"/><br/>{$title}</p>
{/if}
{$content}
</div>
</div>
</div>
{template "mobile","footer"}