<!--
作者:成都凡思特网络科技有限公司技术部 Url:www.028fast.com Tel:4000-903-923
设计:SongJiaLi
程序:JiangGle Url:jiangdesheng.com
-->
<?php $SITES = getcache('sitelist','commons'); ?>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link rel="shortcut icon" href="{siteurl($siteid)}/favicon.ico"/>
<link rel="bookmark" href="{siteurl($siteid)}/favicon.ico"/>
<link rel="stylesheet" href="{siteurl($siteid)}/statics/fst/css/reset.css"/>
<link rel="stylesheet" href="{siteurl($siteid)}/statics/fst/css/style.css"/>
<a target="blank" href="www.028fast.com" rel="nofollow"></a>
<script type="text/javascript" src="{siteurl($siteid)}/statics/fst/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery/jquery-min.js"></script>
<!-- 兼容IE6-IE9的html5、CSS3和兼容IE6 png不正常的js -->
<!--[if lt IE 9]>
<script type="text/javascript" src="{siteurl($siteid)}/statics/fst/js/css3-mediaqueries.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="{siteurl($siteid)}/statics/fst/js/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="{siteurl($siteid)}/statics/fst/js/fixPNG.js"></script>
<script>
DD_belatedPNG.fix('*');
</script>
<script type="text/javascript" src="{siteurl($siteid)}/statics/fst/js/iefix.js"></script>
<![endif]-->
<script language="javascript" type="text/javascript" src="loca_domain.js"></script>
<!-- ailianlove.com Baidu tongji analytics -->
</head>

<body>
<div class="wrap header">
  <div class="logo"><a href="{siteurl($siteid)}" title="{$SITES[$siteid][name]}"></a></div>
  <div class="tel"><span>{$SITES[$siteid][my_tel]}</span></div>
</div>
<div class="nav index_nav_height">
  <ul class="wrap">
    <li{if $catid==2 || $top_parentid==2} class="current"{/if}> <a href="{$CATEGORYS[2][url]}" style="font-size:15px;">{$CATEGORYS[1][catname]}</a>
      <ul class="sub-nav">
{pc:content action="category" catid="1" num="9" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
<dd><a href="{$r[url]}">{$r[catname]}</a></dd>
{/loop}
{/pc}
      </ul>
    </li>
    <li{if !$catid} class="current"{/if}> <a href="{siteurl($siteid)}" style="font-size:15px;">首页</a> </li>
    <li{if $catid==9 || $top_parentid==9} {/if}> <a href="{$CATEGORYS[9][url]}" style="font-size:15px;">{$CATEGORYS[9][catname]}</a> </li>
    <li{if $catid==10 || $top_parentid==10} class="current"{/if}> <a href="{$CATEGORYS[10][url]}" style="font-size:15px;">{$CATEGORYS[10][catname]}</a></li>
    <li{if $catid==11 || $top_parentid==11} class="current"{/if}> <a href="{$CATEGORYS[11][url]}" style="font-size:15px;">{$CATEGORYS[11][catname]}</a></li>
    <li{if $catid==12 || $top_parentid==12} class="current"{/if}> <a href="{$CATEGORYS[12][url]}" style="font-size:15px;">{$CATEGORYS[12][catname]}</a></li>
    <li{if $catid==17 || $top_parentid==17} class="current"{/if}> <a href="{$CATEGORYS[17][url]}" style="font-size:15px;">{$CATEGORYS[17][catname]}</a></li>
    <li{if $catid==21 || $top_parentid==21} class="current"{/if}> <a href="{$CATEGORYS[21][url]}" style="font-size:15px;">{$CATEGORYS[21][catname]}</a></li>
    <li{if $catid==28 || $top_parentid==28} class="current"{/if}> <a href="{$CATEGORYS[28][url]}" style="font-size:15px;">{$CATEGORYS[28][catname]}</a></li>
    <li class="last"> <a href="http://www.ailianlove.com/index.php?m=member">会员专区</a> </li>
  </ul>
</div>
<!--公用头部 结束-->
